//Import section
@import 'queries';
@import 'mixins';
@import 'variables';
@import 'header';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Gill Sans MT', sans-serif, sans-serif;

  &::-webkit-scrollbar {
    width: .125em;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-tranparent-white;
    border-radius: .625em;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primary-green;
    cursor: pointer;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../images/default.jpeg');
}

.app {
  &__spinner {
    width: 2.8rem;
    height: 2.8rem;
    right: 0;
    top: 0;
    border: .5rem solid $primary-transparent-black;
    border-left-color: $primary-green;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  &__overlay {
    position: absolute;
    @include flex-centered;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: $primary-transparent-black;
  }

  &__content {
    height: calc(100% - 114px);
  }

  &__wrapper {
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: $primary-transparent-black;
  }

  &__weather {
    @include flex-between;
    flex-direction: column;
    width: 100%;
    height: 100%;

    // Current weather widget styles starts
    &__current {
      padding: 1rem 3rem;
      @include flex-between;
      gap: 3%;
      row-gap: 0;
      text-align: center;
    }

    &__details {
      width: 100%;
      flex-basis: 21.25rem;
      visibility: hidden;

      &-head {
        display: flex;
        margin: .875rem 0 1.25rem;
        height: 2rem;

        &__title {
          padding-right: .5rem;
        }

        &__title,
        &__date {
          font-size: 1.75rem;
          font-weight: bold;
          color: $primary-white;
        }
      }

      &-properties {
        padding: .75rem;
        background: $primary-transparent-grey;
        border: .063rem solid $primary-white;
        border-radius: .5rem;

        &__item {
          @include flex-between;
          margin: 1rem 0;
          color: $primary-white;
          font-weight: 400;
        }
      }
    }

    &__widget {
      margin-bottom: 2.5rem;
      color: $primary-white;
      font-weight: 500;
      border-radius: .5rem;
      font-size: 1.25rem;
      flex-basis: 25rem;

      &__conditions {
        text-align: initial;
        line-height: 1.438rem;
        font-size: 1.25rem;
        font-weight: 400;
        color: $primary-white;
      }

      &__status {
        padding-bottom: 1.5rem;
        @include flex-between;
        align-items: center;
        height: 100%;
        max-height: 6.25rem;
      }

      &__location {
        margin-top: .5rem;
        font-size: 2.125rem;
        font-weight: 600;
        text-transform: capitalize;
      }

      &__icon {
        display: block;
        width: 4.5rem;
      }
    }
    // Current weather widget styles ends

    //Week days styles starts
    &__week {
      padding: 2%;
      height: 40%;
      max-height: 32.5rem;
      min-width: 36%;
      overflow: auto;
      scroll-behavior: smooth;
      background-color: $primary-transparent-black;
      visibility: hidden;

      &-days {
        padding: 0;
        @include flex-around;
        flex-wrap: wrap;
        gap: 3%;
        row-gap: 0;
      }

      &-day {
        padding: .75rem;
        margin-bottom: 3%;
        min-width: 11.625rem;
        background: $primary-transparent-grey;
        flex-grow: 1;
        flex-basis: 13%;
        border: .063rem solid $primary-tranparent-white;
        border-radius: .5em;
        color: $primary-white;
        font-weight: 400;
        border-radius: .5rem;
        font-size: .875rem;

        &__head {
          @include flex-between;
          font-size: .75rem;
          font-weight: 600;
        }

        &__icon {
          display: block;
          margin: .25rem auto;
          width: 100%;
          max-width: 5.25rem;
        }

        &__temp-limits {
          @include flex-between;
        }

        &__content {
          span {
            display: block;
          }

          &>div,
          span {
            margin: .5rem 0;
          }
        }

        &__feelslike,
        &__temp {
          text-align: center;
        }
      }

      //Week days styles ends
    }
  }

}