//Color variables
$primary-tranparent-white: rgba(255, 255, 255, 0.5);
$primary-transparent-black: rgba(0, 0, 0, 0.4);
$primary-green:#18cc60;
$primary-white: #ffff;
$primary-transparent-grey: rgba(84, 78, 78, 0.5);